.no-js-info
  text-align: center
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.10)

  .glyphicon
    &.glyphicon-warning-sign
      font-size: 3em
      color: #FF7000

    &.glyphicon-new-window
      top: -0.5em

html.no-js
  body
    background-image: linear-gradient(-45deg, #fff 25%, #fdfdfd 25%, #fdfdfd 50%, #fff 50%, #fff 75%, #fdfdfd 75%, #fbfbfb)
    background-size: 70px 70px
