.site-menu
  display inline-block

  position fixed
  top 12px
  left 24px
  z-index $priority-high

  border-radius 50%
  box-shadow 0 0 10px 14px #fff
  background #fff

  cursor pointer

  .logo-svg
    height 30px

  & > .container
    width 100%
