.site-menu
  display inline-block

  position fixed
  top 12px
  left 24px
  z-index $priority-high

  border-radius 50%
  box-shadow 0 0 24px rgba(255, 255, 255, 0.9)
  background rgba(255, 255, 255, 0.9)

  cursor pointer

  .logo-svg
    height 30px

  & > .container
    width 100%
