$expanded-width = 114px
$collapsed-width = 20px
$width-delta = $expanded-width - $collapsed-width

.view-controls
  user-select(none)

  .primary-controls
    z-index: $priority-high
    position: fixed
    right: 24px
    top: 12px

  .secondary-controls
    display: block

    position: fixed
    z-index: $priority-high

    bottom: 12px
    right: - $width-delta

    width: $expanded-width

    transition-duration: $speed-fast
    transition-timing-function: ease-out
    transition-delay: 100ms
    transition-property: -moz-transform
    transition-property: -webkit-transform
    transition-property: -ms-transform
    transition-property: transform

    &:hover
      transform(translate(- $width-delta, 0))
      transform(translate3d(- $width-delta, 0, 0))

