view-control-component =
  display: inline-block
  vertical-align: middle

  text-transform: lowercase
  text-rendering: auto
  font-variant: small-caps
  font-family: $font-family-accent
  color: $gray-light

  cursor: default

  transition: color 100ms linear

  &:hover
    color: $text-color
